.EmojiPanel {
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $EmojiPanel-border-header;
        border-radius: 0 0 $EmojiPanel-border-radius $EmojiPanel-border-radius;
    }
    
    &__brand {
        margin: 0;
        font-size: 14px;
        text-decoration: none;
        color: lighten($EmojiPanel-category-title, 15%);
        transition: color 0.2s;

        &:hover, &:focus {
            color: $EmojiPanel-category-title;
        }
    }

    &__btnModifierToggle {
        font-size: 24px;

        &.active {
            display: none;
        }
    }

    &__modifierDropdown {
        display: none;
        height: $EmojiPanel-emoji-width;

        &.active {
            display: block;
        }
    }
}
