.EmojiPanel {
    &__header, &__footer {
        padding: $EmojiPanel-padding-results;
        background: $EmojiPanel-background-header;
    }
    
    &__header {
        border-bottom: 1px solid $EmojiPanel-border-header;
        border-radius: $EmojiPanel-border-radius $EmojiPanel-border-radius 0 0;

        input {
            width: 100%;
            padding: 5px 14px;
            border: 1px solid $EmojiPanel-border-input;
            border-radius: 30px;
            outline: none;
            font-size: 14px;
            font-weight: inherit;

            &:focus {
                border-color: darken($EmojiPanel-border-input, 10%);
            }
        }
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 10px;

        button {
            flex: 1;
            min-width: $EmojiPanel-emoji-width;
            max-width: $EmojiPanel-emoji-width;

            @media(min-width: $EmojiPanel-width) {
                min-width: $EmojiPanel-emoji-width;
                max-width: inherit;
            }
        }
    }
}
