.EmojiPanel {
    &__results {
        overflow-y: auto;
        height: 300px;
        padding: 0 $EmojiPanel-padding-results $EmojiPanel-padding-results;

        .emoji {
            background: #FFF;
        }
    }

    &__noResults {
        display: none;
        width: 100%;
        padding: 100px 0;
        text-align: center;
        color: $EmojiPanel-category-title;
    }

    &__category {
        margin: 15px 0 5px;
        padding: 0 0 5px;
        border-bottom: 1px solid $EmojiPanel-border-input;
        color: $EmojiPanel-category-title;
    }
}
