$EmojiPanel-font-family: 'Arial', 'Arial Black', 'Tahoma', 'Trebuchet MS', 'Verdana';

// Colors
$EmojiPanel-background-header: #FCFCFC !default;
$EmojiPanel-border-header: #F9F9F9 !default;
$EmojiPanel-background-panel: #FFF !default;
$EmojiPanel-border-input: #EEE !default;
$EmojiPanel-category-title: #777 !default;

// Padding and Borders
$EmojiPanel-padding-results: 10px !default;
$EmojiPanel-border-radius: 3px !default;

// Dimensions
$EmojiPanel-emoji-width: 34px !default;
$EmojiPanel-width: $EmojiPanel-emoji-width * 7 + ($EmojiPanel-padding-results * 2);
