@import '_constants';

.emoji-category {
    margin: 0;
    font-size: $ep-font-size;
    padding: $ep-padding/2 0 $ep-padding/2 $ep-padding/2;
    border-bottom: $ep-border-size solid $ep-border-input;
    color: $ep-category-title;
    font-family: $ep-font-family;
}
