* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F7F7F7;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
    line-height: 1.7em;
    color: #555;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: #4E94C2;
}

nav {
    margin-bottom: 20px;
}
header nav a {
    text-decoration: none;
}
header nav a:after {
    margin: 0 1em;
    color: #AAA;
    content: '|';
}
header nav a:last-child:after {
    margin: 0;
    content: '';
}

.inline-emoji {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}

.giant-emoji {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    height: 50%;
    font-size: 100px;
    transition: all 0.1s ease-in-out;
}
.giant-emoji.active {
    opacity: 1;
    transform: translate(-50%, -150%);
}

h1 {
    margin-top: 40px;
}
h1, h3 {
    font-weight: 500;
}
h3, main nav {
    margin-top: 50px;
}
main nav a {
    display: block;
    margin-bottom: 20px;
}

table, ul {
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table tr td, table tr th {
    padding: 5px 10px;
    border: 1px solid #DDD;
}
ul {
    padding: 0;
    list-style: none;
    text-align: left;
    line-height: 2.5;
}
#features ul {
    max-width: 400px;
}
ul .inline-emoji {
    margin-right: 20px;
}

code {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #DDD;
    border-radius: 6px;
    background: #F5F5F5;
    text-align: center;
    line-height: 1em;
    color: #777;
}
code.full {
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: left;
}
code.full pre {
    margin: 0;
}

.home section {
    margin: 50px 0;
}

.input {
    padding: 5px 14px;
    border: 1px solid #EEE;
    outline: none;
    font-size: 14px;
}
.btn-trigger {
    padding: 7px 13px;
    border: none;
    outline: none;
    background: #EBF3FA;
    font-size: 20px;
    cursor: pointer;
}

.demo-centerpanel .EmojiPanel {
    margin: 0 auto;
}

.github-corner:hover .octo-arm{
    animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave{
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}
@media(max-width: 500px) {
    .github-corner:hover .octo-arm{
        animation: none;
    }
    .github-corner .octo-arm{
        animation: octocat-wave 560ms ease-in-out;
    }
}
