<header>
  <h1>Angular Emoji Picker</h1>
</header>

<code><pre class="code-pre">
  contenteditable:
  (emojiPickerPositionEmitter)="handleCurrentPosition($event{{' = ' + eventPosMock}})"

  😄:
  [(emojiPickerIf)]="{{toggled}}"
  (emojiPickerSelect)="handleSelection($event{{' = ' + eventMock}})"
</pre></code>

<div class="main">
  <div class="emoji-content-editable"
    (emojiPickerPositionEmitter)="handleCurrentPosition($event)"
    contenteditable="true">This is a contenteditable</div>
  <i
    class="emoji-toggle-button"
    (click)="toggled = !toggled"
    emojiPickerAnchor
    [(emojiPickerIf)]="toggled"
    (emojiPickerSelect)="handleSelection($event)">😄</i>
</div>

<footer>

</footer>
