<header>
  <h1>Angular Emoji Picker</h1>
</header>

<code><pre class="code-pre">
  contenteditable:
  (emojiPickerCaretEmitter)="handleCurrentCaret($event{{' = ' + eventPosMock}})"

  😄:
  [(emojiPickerIf)]="{{toggled}}"
  [emojiPickerDirection]="<input class="code-input" [style.width.px]="direction.length * 7.5" type="text" [(ngModel)]="direction"/>"
  (emojiPickerSelect)="handleSelection($event{{' = ' + eventMock}})"
</pre></code>

<div class="main">
  <div class="emoji-content-editable"
    (emojiPickerCaretEmitter)="handleCurrentCaret($event)"
    contenteditable="true">This is a contenteditable</div>
  <i
    class="emoji-toggle-button"
    (click)="toggled = !toggled"
    [(emojiPickerIf)]="toggled"
    [emojiPickerDirection]="direction"
    (emojiPickerSelect)="handleSelection($event)">😄</i>
</div>

<footer>

</footer>
